.dashboard-content {
  padding: 0 0.95rem;
  @include media-breakpoint-up(md) {
    padding: 0 2rem;
  }
}

.dashboard-content__section {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}

.deal-block {
  display: flex;
}

.deal {
  margin-right: 1rem;
  max-width: 320px;
}

.dashboard-content__title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
}
