.search-outer {
  width: 100%;
  position: relative;

  .search-item {
    .form-control {
      padding: 0.375rem 0.75rem;

      &:focus {
        box-shadow: none;
      }
    }

    .list-Sdown {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 12px 16px;
        cursor: pointer;
        outline: none;

        &:hover {
          background: #e5eaef;
        }
      }

      .dropdown-icon {
        width: 31px;
        height: 32px;
        float: left;
      }

      i {
        transform: rotate(-45deg);
        font-size: 21px;
        margin: 2px 0;
      }
    }
  }

  .spacer {
    display: none;
  }
}

.search-item {
  position: relative;

  input {
    width: 100%;
    margin: 0;
  }
}

.search-item.is-wide {
  position: static;
}

.search-outer.shadowsrch {
  .search-item {
    background: white;
    @include mqr(md) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 140;
      width: 100%;
    }
  }

  .list-Sdown li.airport {
    padding-left: 2rem;
  }

  .spacer {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 100%;
    display: none;
  }
}

// .search-flight-home {
//   margin-right: 1.875rem;
//   width: 100%;
//   .search-item {
//     .form-control {
//       font-family: dona-bold;
//       border: 2px solid #ececec;
//       border-radius: 0;
//       padding: 20px 1em;
//     }
//   }
// }

// icons
.airport {
  &__icon {
    width: auto;
    height: 1.4rem;
  }
}
