.steps {
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  @include mq(lg) {
    text-align: left;
  }

  &--lines-left {
    @include steps-lines(left);
  }

  &--lines-right {
    @include steps-lines(right);
  }

  &--noLines {
    &::before {
      display: none;
    }
  }

  &__text {
    font-size: 1.25rem;
    font-family: $dona-bold;
    color: $main-landing-gray;
    margin: 1.8rem 0;
    .steps--background-blue & {
      color: $white;
      font-family: $dona-bold;
    }
  }

  &__title,
  &__subtitle {
    .steps--background-blue & {
      color: $white;
    }
  }

  &__image {
    &-title {
      font-size: 1.125rem;
      font-family: $dona-black;
      margin-left: 2.5rem;
      margin-top: 1rem;
    }
  }

  &__logo {
    width: 4.3125rem;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
  }

  &__right {
    text-align: center;
    padding-right: 0rem;
    @include mq(lg) {
      text-align: right;
      padding-right: 6rem;
    }
  }

  &__positioned {
    position: relative;

    .steps__image {
      text-align: right;
      &-save {
        max-width: 100%;
        width: 70%;
      }
    }
  }
  &__overlay {
    background-color: $white;
    box-shadow: 0 2px 2px 0 transparentize($color: #000000, $amount: 0.5);
    padding: 13px;
    width: 17rem;
    position: absolute;
    top: -15%;
    left: 15%;
    color: $black;
    &-logo {
      width: 2rem;
    }
    &-top {
      text-align: center;
      padding-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 76%;
      margin: auto;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }
      .steps__overlay-arrow {
        margin: 0 1rem;
        font-family: $dona-black;
      }
      .steps__overylay-text {
        font-size: 1.4rem;
        padding-top: 6px;
        font-family: $dona-black;
      }
      img {
        width: 1.6875rem;
        height: 1.6875rem;
        // margin-bottom: 1rem;
      }
    }

    &-bottom {
      p {
        color: $main-landing-gray;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: $black;
          font-family: $dona-bold;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.steps--background-blue {
  background-image: url(assets/img/pricing_background.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  color: $white;

  .button--blue {
    background-color: $white;
    color: $primary;
  }
}

// .steps .steps__inner {
//   .container {
//     .steps__title {
//       color: $primary;
//     }
//     .steps__subtitle {
//       color: $black;
//       margin: 1rem 0;
//     }
//   }
// }
