.tiles {
  padding: 2rem 0;
  &__container {
    background-color: $primary;
    @include mq(lg) {
      background-color: $white;
    }
    .title--black-small {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }
  &__card {
    display: flex;
    border: 2px solid $main-landing-border-color;
    margin-bottom: 1.5rem;

    &-img {
      flex: 0 0 35%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      width: 100%;
      padding: 0.85rem;
    }

    &-title {
      font-family: $dona-black;
      font-size: 0.90rem;
    }

    &-icons {
      img {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 0.2rem;
      }
    }

    &-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-airports {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;
      margin-top: 0.8rem;
    }
    
    &-icons {
      margin-right: 1rem;
    }
    
    &-text {
      font-family: $dona-bold;
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
      color: $main-landing-gray;
      
      &--small {
        font-family: $dona-bold;
        font-size: 0.75rem;
        color: $black;
        padding-top: 4px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 23px;
        align-items: center;
      }
      
      &--blue {
        font-family: $dona-bold;
        color: $primary;
        font-size: 0.95rem;
        margin-bottom: 0;
      }
    }
  }
}
