.navbar-navigation {
  border: none;
  background: transparent;
  padding-top: 10px;
}
.navbar-links li a {
  color: #19191a !important;
  font-size: 15px;
  font-weight: bold;
}
.navbar-links li {
  margin-right: 20px;
}
.nav-btn .btn {
  background: #00b7ff;
  border-color: #00b7ff;
  color: #fff !important;
  padding: 5px 34px;
  border-radius: 3px;
  position: relative;
  top: 11px;
}
.formBg {
  background: #fff;
  padding: 20px 41px;
  border: 2px solid #d7d7d7;
  padding-bottom: 30px;
  margin: 79px auto;
  max-width: 400px;
  margin-bottom: 20px;
  transform: translate(0%, 35%);
}
.signIn-align {
  transform: translate(0%, 0%);
}
.forgot-backtohome {
  font-family: dona-black;
  position: absolute;
  left: 0;
  right: 0;
  transform: translate(0%, 135px);
}
.forgot-backtohome a {
  text-decoration: underline;
  color: #3333339e;
}
.forgot-backtohome a:hover {
  color: #06aeef;
}
.sign-bottom {
  max-width: 400px;
  border: 2px solid #d7d7d7;
  margin: 0 auto;
  padding: 20px 0px;
  background: #fff;
}
.center-logo {
  margin-top: 10px;
  margin-bottom: 40px;
}
.formBg h3 {
  text-align: center;
  font-weight: 600;
}
.formBg p {
  text-align: center;
  margin: 17px 0;
  font-weight: bolder;
  font-size: 12px;
  color: #333333c4;
}
.formBg .form-group label {
  font-size: 11px;
}
.formBg .form-group input {
  padding: 24px 15px;
  font-weight: bold;
  border-color: #ccc;
  border-radius: 0;
  border: 2px solid #e6e6e6d1;
  font-size: 0.875rem;
  transition: border-color 0.2s ease-in-out;
  text-align: center;
}
.formBg .form-group input:focus {
  border-color: #00aeef;
  box-shadow: none;
}
.formBg .form-group input::placeholder {
  font-weight: bold;
  color: #8d8d8d;
}
.formBg .submit-btn {
  background: #00b7ff;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  border-color: #00b7ff;
  border-radius: 0;
  font-weight: bold;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.formBg .submit-btn:focus {
  box-shadow: none;
}
.already-txt {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  font-weight: bold;
  color: #828282;
}
.already-txt a {
  color: #00b7ff;
  font-size: 15px;
  margin-left: 2px;
}
.forgot-link {
  font-size: 14px;
  color: #3333339e !important;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 10px;
}
.full-bg-image {
  background-image: url("./assets/img/hero-header.svg");
  width: 100%;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.setep-2 {
  margin: 70px 0px;
}
.step-formbg {
  background: #fff;
  padding: 10px 40px;
  margin-top: 30px;
  border: 2px solid #ccc;
  padding-top: 30px;
}
.form-logo h3 {
  font-size: 36px;
  font-weight: 600;
  color: #000;
}
.form-descrption strong {
  color: #000;
  font-size: 21px;
  font-family: dona-black;
  text-align: center;
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
}
.form-descrption span {
  font-size: 12px;
  color: #7d7d7d;
  font-weight: 600;
  font-weight: bold;
}
.form-descrption p {
  color: #7d7d7d;
  font-size: 14px;
  margin: 0 40px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 12px;
  font-weight: bold;
}
.step-f-inputs .form-control {
  border-radius: 0px;
  padding: 24px 27px;
  border-color: #e6e6e6d1;
  margin-bottom: 16px;
  background-clip: inherit;
  border: 2px solid #e6e6e6d1;
  font-weight: bold;
}
.step-f-inputs .form-control::placeholder {
  font-size: 15px;
  color: #989595;
  font-weight: 600;
}
.step-f-inputs select.form-control {
  height: 48px;
  padding: 0 24px;
  color: #989595;
}
.step-f-inputs .btn {
  border: 2px solid #fff;
  color: #fff;
  width: 100%;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 21px;
  font-weight: bold;
  padding: 10px 0 !important;
  background: #00aeef;
  margin-bottom: 24px;
}
.step-01 p {
  font-size: 14px;
  margin: 0 8px;
  margin-bottom: 20px;
}
.onborad1-form {
  margin-bottom: 60px;
  padding-bottom: 0px;
}
section.step-2 {
  @include media-breakpoint-up(md) {
    padding: 0 0 50px 0;
  }
}
.back-to-home a {
  text-decoration: none;
  padding-top: 40px;
  font-family: dona-black;
  text-align: center;
  color: #3333339e;
  display: block;
  font-size: 18px;
}
/*End Get started Form css*/

@media (min-width: 320px) and (max-width: 480px) {
  .formBg {
    margin: 30px auto;
  }
  .bottom-footer a {
    font-size: 10px;
  }
  .bottom-footer ul li:before {
    display: inline-block;
    margin: 0 5px;
  }
  .center-logo {
    padding-top: 30px;
  }
  .step-formbg {
    padding: 10px 20px;
  }
  .form-descrption p {
    color: #7d7d7d;
    font-size: 11px;
    margin: 0 10px;
    line-height: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 7px;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .sm-12 {
    max-width: 90% !important;
    flex: 65.666667% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sm-12 {
    max-width: 75% !important;
    flex: 65.666667% !important;
  }
}

p.label__plan-description {
  font-weight: bold;
  border: solid 2px rgba(230, 230, 230, 0.82);
  padding: 14px;
  padding-left: 27px;
  color: #8d8d8d;
}
.please-wait {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.form-descrption p .highlighted {
  font-weight: bold;
  font-size: 14px;
  color: #0aaeff;
}
