.search-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-color: #00b0f4;
  background-image: url("/static/home/img/pattern.svg");
  z-index: 1000;
  font-family: Dona-Bold;
  color: #fff;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  top: 0;
  left: 0;

  @include mq(md) {
    display: none;
  }
}

.result-block {
  .flight__interlining {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    width: 65px;
    @include mq(md) {
      width: 48px;
    }
  }
}

.fake-results {
  position: relative;
  .fake-results__content {
    min-height: 8rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}


.fake-results__left {
  flex: 0 0 50%;
}
