.section-heading {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2.6875rem;
  &__inner {
    padding: 0 0.95rem;
    @include mq(lg) {
      padding: 0 2rem;
    }
  }
  &__title {
    font-family: $dona-black;
    font-weight: 600;
    font-size: 2.125rem;
    color: $primary
  }
  &__text {
    color: $gray;
    font-size: 1.125rem;
  }
}

.dashboard-section-heading {
  border: none;
  margin-bottom: 1.5rem;
  .section-heading__title {
    color: #979797;
    font-size: 12px;
    font-family: dona-bold;
    font-weight: normal;
  }
  .section-heading__title__current {
    color: #00aeef;
  }
}