.wizard--login {
  font-family: Dona-Bold;

  .wizard__submit {
    margin-top: 1rem;
  }
  .wizard__remember-me {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;

    .control--checkbox {
      color: #929292;
    }
    a {
      font-family: Dona-Regular;
    }
  }
  hr {
    border-bottom: .5px solid #D8D8D8;
    margin-bottom: 33px;
    margin-top: 33px;
  }
  .wizard__bottom {
    width: 100%;
    margin: auto;
    padding: 8rem 0;
    @include mq(xl) {
      width: 73%;
    }
  }
}