.fly-line {
  &__container {
    padding: 4rem 4rem 1rem 0;
  }
  &__content {
    background-color: #F7F9FC;
    color: #000;
  }

  &__item {
    margin-bottom: 1rem;
    border-bottom: 1px solid  transparentize($white, 0.50%);
  }
  &__title {
    font-family: $dona-black;
    font-size: 2.2rem;

    &--small {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1rem;
    color: #7F7F7F;
    line-height: 2rem;
  }

  &__body {
    &-item {
      ul {
        margin-bottom: 1rem;
        font-size: 1rem;
        list-style-type: decimal;
        li {
          color: #7F7F7F;
          margin-bottom: 1rem;
        }
      }

      .text--belong-to-ul {
        padding-top: 1rem;
        padding-left: 20px;
      }
     &:not(:last-child) {
       padding-bottom: 3.5rem;
     }
    }
  }
}
