.section {
  .first-page-body {
    flex: inherit;
  }

  .home-slider {
    // padding: 3rem 0;
    .h-slider-caption {
      padding: 1rem;
    }

    .slider-box {
      border-color: #f6f6f6;
      border-radius: 2px;
      transition: box-shadow 0.3s ease-in-out;
      border-radius: 2px;
      position: relative;
      height: 18rem;

      &:hover {
        box-shadow: 0 3px 39px rgba(0, 0, 0, 0.12);
      }

      &__img {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          object-fit: cover;
          max-height: inherit;
        }
      }

      &__text {
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.9215686274509803),
          transparent
        );
        padding-bottom: 1rem;

        h3 {
          font-family: $dona-black;
          font-size: 1.2rem;
          margin-bottom: 0;
        }

        p {
          font-family: $dona-bold;
          font-size: 0.75rem;
          margin-bottom: 0.7rem;
        }

        h4 {
          font-family: $dona-black;
          font-size: 0.875rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

// Hero
.hero {
  .modal-content {
    .modal-title {
      font-family: $dona-black;

      .button {
        .span {
          font-family: $dona-black;
        }
      }
    }

    .modal-body {
      h1 {
        font-size: 1rem;
        line-height: 1.8;
        font-family: $dona-bold;
      }
    }

    .modal-footer {
      button.btn.btn-secondary {
        font-family: $dona-bold;
        background-color: #00AEEF;
        border-radius: 0;
        border: none;
      }
    }
  }

  .horizontal-form {
  }

  .wide-form {
    padding-top: 34px;
    padding-bottom: 59px;
  }

  .trending-flights-container {
    display: none;
    @include mq(md) {
      display: flex;
      flex-direction: column;
    }

    span {
      margin-right: 1rem;
      font-family: $dona-black;
      color: #7d7d7d;
      padding-top: 10px;
      padding-bottom: 10px;
      align-self: center;
      @include mq(lg) {
        align-self: start;
      }
    }

    .trending-flights {
      display: none;

      @include mq(md) {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
      }
      @include mq(lg) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
      }

      &__item {
        background-color: $primary;
        color: $white;
        padding: 3px 1rem;
        margin-right: 0.5rem;
        font-family: $dona-black;
        font-size: 13px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        @include mq(lg) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

.main-filters {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    justify-content: center;
  }
  .control__indicator {
    &.checked {
      background-color: #7d7d7d;
      @include mq(md) {
        background-color: #0aaeff;
      }
    }
  }
  .s-result-dropdown {
    &:not(:last-child) {
      margin-right: 2rem;
    }

    span {
      font-family: dona-regular;
      font-size: 13px;
      padding: 9px 5px 5px 5px;
    }

    .search-f-dropdown {
      min-width: 100px;
    }

    @include mq(md) {
      min-width: 140px;
    }
  }
}

.main-filters__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.725rem;
  @include media-breakpoint-up(md) {
    margin-top: 0.725rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &:not(:last-child) {
      border-right: 1px solid #d8d8d8;
    }
  }

  &.is-dynamic {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.hero-search {
  .shadowsrch {
    .search-item {
      .form-control::placeholder {
        @include mq(md) {
          color: #7d7d7d;
        }
        color: #7d7d7d;
      }
    }
  }

  .search-dropdown {
    .form-control::placeholder {
      @include mq(md) {
        color: #7d7d7d;
      }
      color: #00b0f5;
    }
  }

  &__item {
    .form-control {
      font-size: 0.8em;
    }

    .search-button {
      span {
        font-weight: bold;
        line-height: 28px;
        color: white;
      }
    }
  }
}
