.privacy {
  &__content {
    padding-top: 2rem;
    padding-bottom: 4rem;

    @include media-breakpoint-up(md) {
      padding-top: 4rem;
    }

    strong {
      font-family: $dona-bold;
    }

    h3 {
      margin-bottom: 2rem;
    }

    h4 {
      padding: 1rem 0;
    }
  }
}

.privacy__content-title {
  font-weight: 900;
  text-align: center;
}
