.savingexplained {
    .saving-title {
        margin-top: 3.75rem;
        font-family: $dona-black;
    }
    p {
        color: $savings-explained-text;
        font-size: 1.2rem;
    }

    &__block {
        margin-bottom: 3rem;
        h3 {
            margin: 1.5rem 0;
            font-family: $dona-bold;
        }
    }
}