.content-wrapper {
  margin-left: 0;
  padding: 0;
  transition: margin-left .3s ease-in-out;
  @include mq(lg) {
    margin-left: $sidebar-width;
    margin-top: 1rem;
  }
}

.main-padding {
  padding: 0 0.95rem;
}

.main-padding--dashboard {
  padding: 0 0.95rem;
  @include mq(md) {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
  @include mq(lg) {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2rem;
  }

  .tile--recent-search {
    @include mq(md) {
      grid-column: 2;
      grid-row: 2 / span 2;
    }
    @include mq(lg) {
      grid-column: 3;
      grid-row: 1 / span 2;
    }
  }
}

hr + .main-padding {
  margin-top: 2.6875rem;
}

// Transition for slide
.slide-enter-active, .slide-leave-active {
  transform: translateY(0);
  transition: all .38s cubic-bezier(.13,.89,.58,1)
}
.slide-enter, .slide-leave-to {
  transform: translateX(-2rem);
  opacity: 0;
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: all .3s cubic-bezier(.13,.89,.58,1)
}

.slide-up-enter, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(-2rem);
}

.slide-up-leave-active {
  position: absolute;
}



.accordion-item-enter-active, .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}
.accordion-item-enter, .accordion-item-leave-to {
  height: 0 !important;
}

// Main Landing
.main-landing .section5-Bg {
  margin-top: 0;
  padding-bottom: 4.5rem;
}
