// Fonts
$dona-bold: Dona-Bold;
$dona-black: Dona-Black;
$dona-regular: Dona-Regular;

// Colors
$primary: #00AEEF;
$white: #fff;
$black: #000;
$gray: #D9D9D9;
$input-border-color: #DCDCDC;
$input-text-color: #DADADA;
$header-border-color: #DADADA;
$border-color: #D8D8D8;
$savings-explained-text: #A4A4A4;
$red: #dc3545;
$green: #28a745;


// Main Landing Vars
$main-landing-gray: #7F7F7F;
$main-landing-border-color: #EBEBEB;
$main-landing-stats-bg: #292A2A;
$main-landing-footer-bg: #292A2A;
$main-landing-about-stats: #949494;
$booking-gray: #b9b8b8;


// Sizes
$sidebar-width: 22rem;


// Transition
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
