@mixin steps-lines($pos) {
    @include mq(xl) {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        user-select: none;
        pointer-events: none;
        @if $pos == left {
          background-image: url(assets/img/main-landing/lines.svg);
          background-position: left bottom;
        } @else if $pos == right {
          background-image: url(assets/img/main-landing/lines-right.svg);
          background-position: right bottom;
        }
      }
    }
}
