{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Forgot Password | FlyLine</title>

    <!-- style -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "home/../../../../frontend/src/assets/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "home/../../../../frontend/src/assets/css/registration.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "home/../../../../frontend/src/assets/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/../../../../frontend/src/assets/css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,900&display=swap"
          rel="stylesheet">
    {% include "favicon.html" %}
    <script src="https://cdn.useproof.com/proof.js?acc=ZaTK6We7bUMEbNI7wlB7YcTOWB72"
            async></script>
    <title>{{ title }}</title>
</head>
<body class="full-bg-image">
    <div class="back-to-home">
        <a href="/#/sign-in">Back to Login</a>   
    </div>
<!-- Form -->
<section class="white-block">

    <div class="container">
        <div class="formBg mx-auto">

            <div class="center-logo text-center">
               <a href="{% url "index" %}"> <img src="{% static "home/../../../../frontend/src/assets/img/flyline_logos-01-1.png" %}" class="r-logo" alt="Logo"></a>
            </div>
            
            <form action="{% url "forgot-password" %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email Address" required>
                </div>

                <button type="submit" class="btn btn-default submit-btn">Send password reset email
                </button>

            </form>
        </div>

    </div>
</section>


<!-- script -->
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>
