{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/../frontend/src/assets/css/error_page.css" %}">
</head>
<body>
	<div class="error_content">
		<div class="error_logo">
			<img src="{% static "home/../frontend/src/assets/img/flyline_logos-01-1.png" %}">
		</div>
		<div>
			<p style="margin-bottom: 20px;" class="error_txt">Oops. There seems to be an issue. Our team is currently working to fix this. Check back in a bit, and it should all set!</p>
		</div>
		<div>
			<button class="btn" style="margin-top: 40px;">Back</button>
		</div>
	</div>

</body>
</html>
