@font-face {
  font-family:Dona-Black;
  src: url(fonts/Dona/Dona-Black.ttf);
}
@font-face {
  font-family:Dona-Bold;
  src: url(fonts/Dona/Dona-Bold.ttf);
}
@font-face {
  font-family:Dona-Regular;
  src: url(fonts/Dona/Dona-Regular.ttf);
}
